/* Coolors Exported Palette - http://coolors.co/app/cc294f-171a38-444859-ccbbb6-eed7cd */

$red: #cc294f; //rgba(204, 41, 79, 100)
$bg: #111432; //rgba(23, 26, 56, 100)
$dgrey: #444859; //rgba(68, 72, 89, 100)
$lgrey: #ccbbb6; //rgba(204, 187, 182, 100)
$beige: #eed7cd; //rgba(238, 215, 205, 100)

body {
  background: $bg;
  margin: 0;
}

#path-toggle {
  top: 0;
  left: 0;
  position: fixed;
}
